@import "tailwindcss";

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.dropdown-container {
  display: none;
  position: absolute;
}
.dropdown:hover {
  .dropdown-container {
    display: block;
  }
}